
.principal {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

/* IMAGEM LADO ESQUERDO */
.img {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img img {
  align-items: center;
  object-fit: cover;
}

/* COLUNA DIREITA */
.container-right {
  width: 450px;
  background:#06091b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -3px 0 20px rgba(0, 0, 0, 0.1);
}

/* CONTAINER INTERNO */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  gap: 2rem;
}

/* LOGO */
.login-logo img {
  width: 160px;
  object-fit: contain;
  opacity: 0.95;
}

/* TÍTULO */
.login-title {
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

/* FORM */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form-field {
  width: 100%;
}

/* BOTÃO */
.btn-login {
  width: 100%;
  padding: 0.8rem 0;
  background: #003399 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-login:hover {
  background: #002b80 !important;
}

/* COPYRIGHT */
.copyright p {
  font-size: 0.8rem;
  color: #ffffff;
  margin-top: 1rem;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .img {
    display: none;
  }

  .container-right {
    width: 100%;
    box-shadow: none;
  }

  .login-container {
    padding: 3rem 2rem;
  }
}