<div class="principal">
  <div class="img">
    <img src="carrosFord.png" alt="Imagem Ford" />
  </div>

  <div class="container-right">
    <div class="login-container">

      <div class="login-logo">
        <img src="ford.png" alt="Ford Logo" />
      </div>

      <form class="login-form" (ngSubmit)="login()">
        <h2 class="login-title">Boas-Vindas</h2>

        <mat-form-field class="form-field">
          <mat-label>Nome</mat-label>
          <input id="input-nome" matInput aria-label="Nome" type="text" [(ngModel)]="usuario.nome" name="nome"
            autocomplete="name" required />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Senha</mat-label>
          <input id="input-senha" matInput aria-label="Senha" type="password" [(ngModel)]="usuario.senha" name="senha"
            autocomplete="current-password" required />
        </mat-form-field>

        <div class="cadastro-link">
          <p>Ainda não tem conta?
            <a routerLink="/cadastro">Criar conta</a>
          </p>
        </div>

        <button mat-flat-button class="btn-login">Entrar</button>
      </form>

      <div class="copyright">
        <p>&copy; Ford 2025 — Todos os direitos reservados</p>
      </div>

    </div>
  </div>
</div>