.principal {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

/* IMAGEM LADO ESQUERDO */
.img {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img img {
  width: 100%;
  height: auto;      /* mantém proporção */
  object-fit: contain; /* mantém nitidez */
  display: block;
}

/* COLUNA DIREITA */
.container-right {
  width: 450px;
  background: #06091b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -3px 0 20px rgba(0, 0, 0, 0.1);
}

/* CONTAINER INTERNO */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  gap: 2rem;
}

/* LOGO */
.login-logo img {
  width: 160px;
  object-fit: contain;
  opacity: 0.95;
}

/* TÍTULO */
.login-title {
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

/* FORM */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form-field {
  width: 100%;
}

.cadastro-link {
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
  color: #ccc;
}

.cadastro-link a {
  color: #4fa3ff;
  text-decoration: none;
  font-weight: 500;
}

.cadastro-link a:hover {
  text-decoration: underline;
}

/* BOTÃO */
.btn-login {
  width: 100%;
  padding: 0.8rem 0;
  background: #003399 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-login:hover {
  background: #002b80 !important;
}

.copyright p {
  font-size: 0.8rem;
  color: #ffffff;
  margin-top: 1rem;
}


/* Tablets / telas médias */
@media (max-width: 900px) {
  .img {
    display: none;
  }

  .container-right {
    width: 100%;
    box-shadow: none;
  }

  .login-container {
    padding: 3rem 2rem;
  }
}

/* Celulares grandes */
@media (max-width: 600px) {
  .login-container {
    padding: 2rem 1.5rem;
    gap: 1.5rem;
  }

  .login-title {
    font-size: 1.6rem;
  }

  .login-logo img {
    width: 130px;
  }
}

/* Celulares pequenos */
@media (max-width: 420px) {
  .login-container {
    padding: 1.5rem 1rem;
  }

  .login-title {
    font-size: 1.4rem;
  }

  .copyright p {
    font-size: 0.7rem;
  }
}

/* Celular super pequeno  */
@media (max-width: 330px) {
  .login-logo img {
    width: 110px;
  }

  .login-title {
    font-size: 1.2rem;
  }
}