<div class="principal">
  <div class="img">
    <img src="carrosFord.png" alt="Imagem Ford" />
  </div>

  <div class="container-right">
    <div class="login-container">

      <div class="login-logo">
        <img src="ford.png" alt="Ford Logo" />
      </div>

      <form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <h2 class="login-title">Boas-Vindas</h2>

        <mat-form-field class="form-field">
          <mat-label>Nome ou E-mail</mat-label>
          <input matInput id="input-nome" type="text" aria-label="Nome" name="nome" [(ngModel)]="usuario.nome"
            #nome="ngModel" required />

          <mat-error class="error-geral" *ngIf="nome.invalid && nome.touched">
            O nome ou e-mail é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Senha</mat-label>
          <input matInput id="input-senha" type="password" aria-label="Senha" name="senha" [(ngModel)]="usuario.senha"
            #senha="ngModel" required minlength="6" />

          <mat-error class="error-geral" *ngIf="senha.errors?.['required'] && senha.touched">
            A senha é obrigatória
          </mat-error>

          <mat-error class="error-geral" *ngIf="senha.errors?.['minlength'] && senha.touched">
            Mínimo de 6 caracteres
          </mat-error>
        </mat-form-field>

        <div class="cadastro-link">
          <p>Ainda não tem conta?
            <a routerLink="/cadastro">Criar conta</a>
          </p>
        </div>
        <p class="error-geral" *ngIf="formInvalido && loginForm.invalid">
          Preencha todos os campos obrigatórios
        </p>
        <button mat-flat-button class="btn-login">Entrar</button>
      </form>

      <div class="copyright">
        <p>&copy; Ford 2025 — Todos os direitos reservados</p>
      </div>

    </div>
  </div>
</div>