<app-perfil></app-perfil>

<main class="metas-container">

    <div class="metas-wrapper">

        <!-- SETAS DESKTOP -->
        <button class="seta seta-desktop esquerda" (click)="prev()">&#10094;</button>
        <div class="metas-wrapper-card">
            <!-- CARD PRINCIPAL -->
            <div class="card-meta">

                <div class="contador-cards">
                    {{ currentIndex + 1 }} / {{ metas.length }}
                </div>

                <div class="titulo-area">

                    <!-- MODO VISUALIZAÇÃO -->
                    <h2 *ngIf="!metas[currentIndex].editandoTitulo">
                        {{ metas[currentIndex].titulo }}
                    </h2>

                    <!-- Input para editar -->
                    <input *ngIf="metas[currentIndex].editandoTitulo" type="text"
                        [(ngModel)]="metas[currentIndex].titulo" (blur)="salvarTitulo(currentIndex)"
                        (keydown.enter)="salvarTitulo(currentIndex)" class="input-editar-titulo" />

                    <!-- Botão lápis -->
                    <button class="btn-editar" (click)="editarTitulo(currentIndex)">
                        ✎
                    </button>
                </div>

                <!-- INPUT PARA ADICIONAR ITEM -->
                <div class="input-group">
                    <input type="text" [(ngModel)]="novoItem" placeholder="Adicionar item..."
                        (keyup.enter)="adicionarItem()" />

                    <button class="btn-salvar" (click)="adicionarItem()">
                        +
                    </button>
                </div>

                <!-- LISTA DE ITENS -->
                <ul class="lista-itens">
                    <li *ngFor="let item of metas[currentIndex].itens; let i = index">
                        <label class="checkbox-linha">
                            <input type="checkbox" [(ngModel)]="item.feito" />
                            <span [class.riscado]="item.feito">{{ item.texto }}</span>
                        </label>
                    </li>
                </ul>

                <div class="progresso">
                    <div class="barra">
                        <div class="preenchimento" [style.width.%]="getProgresso(currentIndex)"></div>
                    </div>
                    <p class="texto-progresso">{{ getProgresso(currentIndex) }}% completo</p>
                </div>
            </div>
        </div>
        <!-- SETA DIREITA DESKTOP -->
        <button class="seta seta-desktop direita" (click)="next()">&#10095;</button>

    </div>

    <!-- SETAS MOBILE -->
    <div class="navegacao-container">
        <div class="setas-mobile">
            <button class="seta" (click)="prev()">&#10094;</button>
            <button class="seta" (click)="next()">&#10095;</button>
        </div>

        <button class="btn-add" (click)="addMeta()">+</button>

    </div>

</main>