/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    
    background: #0A0A0A; /* ou a cor do seu fundo */
    box-sizing: border-box;
    
    background: linear-gradient(135deg, #1e1e2e, #11111a);
    min-height: 100vh;
    color: #f5f6fa;
}


/* Garante que nenhum traço branco apareça */
* {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    font-family: "Inter", sans-serif;
}

/* Se sua página usa um container principal, aplique isso nele também */
.app-container {
    background: #0A0A0A;
}

/* Scrollbar moderna e discreta */
::-webkit-scrollbar {
  width: 10px;                 /* largura da barra */
}

::-webkit-scrollbar-track {
  background: #11121a;         /* fundo */
}

::-webkit-scrollbar-thumb {
  background: #3a3b45;         /* cor da barra */
  border-radius: 8px;          /* cantos arredondados */
  border: 2px solid #11121a;   /* espaço interno */
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5b65;         /* cor quando passa o mouse */
}
